html{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;
}

.click a{
    text-decoration: none;
    color: black; 
    font-size: 35px;
    font-weight: 700;
}

.navbar_holder{
    background-color: #FFC017;
    position: fixed;
    width: 99%;
    margin-top: -10px;
    margin-left: -10px;
    padding: 20px;
}
 
.nav_img{
    width: 130px;
    margin-left: 120px;
    margin-top: 8px;
}

.nav_img1{
    width: 190px;
    margin-left: 100px;
    color: white;
    margin-top: 30px;
}


.ddd{
    display: flex;
}

.navbar{
    float: left;
    display: block;
    margin-left: 430px;
    margin-top: 5px;
}

.navbar a{
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn{
    width: 100px;
    height: 30px;
    margin-left: 30px;
    margin-top: 2px;
    border: none;
    background-color: black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.btn a{
    color: white;
    text-decoration: none;
}

.svg2_img{
    padding-left: 50%;
    display: block;
    margin-top: -360px;
}

.pin{
    background-color: #FFC017;
    height: 80vh;
    padding-top: 50px;
    width: 102%;
    margin-left: -8px;
    overflow: hidden;
}

.jungle{
    padding-top: 100px;
    padding-left: 80px;
    letter-spacing: -0.05em;
    line-height: 1px;
    letter-spacing: 0.04em;
    font-size: 70px;
    font-weight: 400px;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.jungle1{
    margin-left: 80px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
}

.btn1{
    width: 180px;
    height: 40px;
    text-align: center;
    margin-top: 28px;
    margin-left: 80px;
    border: none;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}

.btn1:hover{
    transition: 1s ease-out;
    background-color: red;
    color: white;
}

.trend_holder{
    margin-top: -19px;
    display: flex;
    margin-left: -50px;
    
}

.hr_shift{
    margin-top: 0;
    margin-right: -18x;
}

.trend{
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;
    padding-top: 50px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.trending{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-left: 130px;
    margin-top: 65px; 
}

.trend01{
    margin-top: -3px;
    margin-left: 80px;
    font-size: 35px;
    opacity: 50%;
}

.trend02{
    margin-top: -3px;
    margin-left: 30px;
    font-size: 35px;
    opacity: 50%;
}

.trend03{
    margin-top: -1px;
    margin-left: 40px;
    font-size: 35px;
    opacity: 50%;
}


.trend04{
    margin-top: 10px;
    margin-left: 80px;
    font-size: 35px;
    opacity: 50%;
}

.trend05{
    margin-top: 10px;
    margin-left: 80px;
    font-size: 35px;
    opacity: 50%;
}

.trend06{
    margin-top: 10px;
    margin-left: 80px;
    font-size: 35px;
    opacity: 50%;
}

.trend07{
    margin-top: 10px;
    margin-left: 75px;
    font-size: 35px;
    opacity: 50%;
}

.trend08{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 35px;
    opacity: 50%;
}

.trend09{
    margin-top: 10px;
    margin-left: 42px;
    font-size: 35px;
    opacity: 50%;
}
.pity_holder{
    display: flex;
    margin-right: 80px;
}

.pity{
    display: flex;
}

.trending1{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 5px;
}

.trending2{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 18px;
}

.trending3{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 18px;
}

.trending4{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 18px;
}

.dm_holder{
    display: flex;
}

.dm{
    margin-top: 8px;
    margin-left: 10px;
    font-family:sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dm1{
    margin-left: 10px;
}

.dm2{
    margin-left: 10px;
}

.dm3{
    margin-left: 10px;
}

.den{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-left: -20px;
}

.den1{
    margin-left: -20px;
    margin-top: -7px;
}

.mi{
    margin-top: 35px;
}

.app{
    height: 30px;
    width: 30px;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 30px;
}

.app1{
    margin-top: 55px;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
}

.roi{
    font-size: 20px;
    font-weight: 600;
    margin-left: 65px;
    margin-top: -5px;
}

.roi1{
    margin-left: 65px;
    font-size: 17px;
    font-weight: 400;
}

.roi2_holder{
    display: flex;
}

.btn2{
    height: 20px;
    width: 75px;
    border: none;
    text-align: center;
    border-radius: 15px;
    margin-top: -15px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.bt2{
    height: 20px;
    width: 110px;
    border: none;
    text-align: center;
    border-radius: 15px;
    margin-top: -15px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.roi2{
    margin-top: -1px;
    margin-left: 65px;
    font-size: 15px;
    font-weight: 400;
}

.chat1_img{
    height: 145px;
    width: 180px;
    margin-left: 75px;
    margin-top: -35px;
}

.chat2_img{
    height: 145px;
    width: 180px;
    margin-left: 70px;
    margin-top: -35px;
}

.dis{
    margin-left: 100px;
    margin-top: 40px;
}

.btn_holder{
   margin-left: 105px;
}

.btn3{
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.btn4{
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;

}

.btn5{
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 18px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn6{
    height: 33px;
    width: 130px;
    border: none;
    border-radius: 18px;
    margin-right: 15px;
    margin-top: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn7{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn8{
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn9{
    height: 35px;
    width: 125px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn10{
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn11{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #F2F2F2;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn12{
    margin-left: -8px;
    background-color: white;
    color: #1A8917;
    border: none;
    border-radius: 18px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn_holder2{
    margin-left: 90px;
    margin-top: 5px;
 }

 .btn13{
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 18px;
    margin-right: 6px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}


.btn14{
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 18px;
    margin-right: 7px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}


.btn15{
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 18px;
    margin-right: 7px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}


.btn16{
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 18px;
    margin-right: 7px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn17{
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn18{
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 4px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn19{
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn20{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 18px;
    margin-right: 7px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.btn21{
    height: 35px;
    width: 60px;
    border: none;
    border-radius: 18px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.pink{
    margin-top: 50px;
}

.see{
   margin-left: 90px; 
}

footer{
    background-color:red;
    color: white;
    height: 70vh;
}

.pity1{
    display: flex;
    text-align: center;
    margin-left: 20px;
    margin-top: 25px;
}

.pityimg{
    height: 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 20px;
}

.pitytext{
    font-weight: 700;
    margin-top: 27px;
}

.above{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 83px;
}

.above a{
    color: white;
}

.m{
    margin-left: 120px;
    margin-top: 50px;
}

.gig_holder{
    display: flex;
    margin-left: 80px;
    gap: 20px;
}

.gig{
    height: 160px;
    width: 190px;
}

.gig1{
    height: 160px;
    width: 190px;   
}

.pie{
   position: sticky;
   top: 90px;
   margin-left: 58%;
   margin-top: -474px;
}

.correl{
    margin-top: 26%;
    margin-left: -70px;
}

.correl1{
    margin-top: 26%;
    margin-left: -37px;
}

.correl2{
    margin-top: 9%;
    margin-left: -78px;
}

.correl2 a{
    /*color:#F2F2F2;*/
}

